<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">

    <!-- Link to reset stylesheet -->
    <link rel="stylesheet" href="/public/assets/css/reset.css">
	<!-- Link to Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Lemonada" rel="stylesheet">
	<!-- Compiled and minified Materialize CSS -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css"> 

 <!-- Compiled and minified Materialize JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
	
	<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
	<title>Sequel Menu</title>
</head>

<body>
	<img src="/assets/img/burger.gif" width="400px" id="moving_burger">

	{{{ body }}}

	<footer class="burgerFooter">
		<div class="footer-copyright">
			<div class="container">
				<span class="grey-text text-lighten-4">© 2017 Noe Tellez</span>
				<a class="grey-text text-lighten-4 right" href="https://github.com/noetlz10">Reference Work</a>
			</div>
		</div>
	</footer>
</body>
</html>